*

!.gitignore
!package.json
!package-lock.json
!README.md
!index.js
!cli.js
!DOCUMENTATION.md
!core/
!core/*.js

!fonts/
!fonts/*.js

!examples/
!examples/*.js
!examples/themes/
!examples/themes/*.js
!examples/themes/fonts/
!examples/themes/fonts/*.js
!examples/sources/
!examples/sources/*.json
!examples/plugins/
!examples/plugins/*.js

!tests/
!tests/*.js
