*

!.gitignore
!package.json
!package-lock.json
!README.md
!gemini-extension.json
!sspdf-story.pdf
!index.js
!cli.js
!DOCUMENTATION.md
!core/
!core/*.js

!fonts/
!fonts/*.js

!examples/
!examples/*.js
!examples/themes/
!examples/themes/*.js
!examples/themes/fonts/
!examples/themes/fonts/*.js
!examples/sources/
!examples/sources/*.json
!examples/sources/*.png
!examples/output/
!examples/output/*.pdf

!tests/
!tests/*.js

!.github/
!.github/workflows/
!.github/workflows/*.yml

!vendor/
!vendor/jspdf/
!vendor/jspdf/jspdf.node.js
!vendor/jspdf/LICENSE
!vendor/chart.js/
!vendor/chart.js/chart.umd.js
!vendor/chart.js/LICENSE
!vendor/chartjs-node-canvas/
!vendor/chartjs-node-canvas/*.js
!vendor/chartjs-node-canvas/LICENSE

!skills/
!skills/sspdf-theme-generator/
!skills/sspdf-theme-generator/*.md
!skills/sspdf/
!skills/sspdf/*.md
